doc/tags
backup/*
.netrwhist
.rbenv-version
bundle/Gist.vim/
bundle/bad-whitespace/
bundle/coffee-script/
bundle/colors-solarized/
bundle/command-t/
bundle/ctrlp/
bundle/fugitive/
bundle/git/
bundle/haml/
bundle/handlebars/
bundle/jade/
bundle/javascript/
bundle/nerdtree/
bundle/rails/
bundle/rainbow_parentheses.vim/
bundle/stylus/
bundle/surround/
bundle/syntastic/
bundle/taglist-plus/
bundle/vim-airline/
bundle/vim-coffee-script/
bundle/vim-colors-solarized/
bundle/vim-fugitive/
bundle/vim-git/
bundle/vim-haml/
bundle/vim-handlebars/
bundle/vim-jade/
bundle/vim-javascript/
bundle/vim-markdown/
bundle/vim-rails/
bundle/vim-stylus/
bundle/vim-surround/
bundle/vitality/
bundle/webapi-vim/
